<h2>Edit participant</h2>

<%= render "form.html", changeset: @changeset,
                        action: participant_path(@conn, :update, @participant) %>

<%= link "Back", to: participant_path(@conn, :index) %>
